/* Settings for the main container */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  position: relative; /* Positioning for other elements inside this container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  overflow: hidden; /* Hides any scrolling */
}

.app-container::before {
  content: '';
  position: fixed; /* Background will be pinned to the screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/background.webp');
  background-size: cover; /* Background covers the entire screen */
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Background is always behind the content */
}

/* Adjusting the list to prevent the points from going outside the container */
div ul,
div ol {
  margin-left: 20px; /* Setting indentation for the entire list */
  padding-left: 20px; /* Ensures that the points are properly aligned */
}

div li {
  margin-bottom: 5px; /* You can adjust the spacing between list items */
}
/* Card */
.chat-card {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

/* Chat history */
.chat-history {
  max-height: 700px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Messages */
.chat-message {
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 80%;
  padding: 10px;
}

.user-message {
  background-color: #d1e7fd;
  align-self: flex-start;
}

.bot-message {
  background-color: #f1f1f1;
  align-self: flex-end;
}

/* Container for Input and Button */
.input-container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space between the input and button */
  align-items: center; /* Vertically center the items */
  width: 100%; /* Ensure the container takes up full width */
}

/* Input */
.chat-input {
  width: 85%; /* Input takes up 85% of the container width */
  height: 40px; /* Set height to match the button */
}

/* Custom Button styles */
.custom-button {
  background-color: #66a0f3; /* Green */
  color: white; /* White text */
  margin-left: 10px; /* Space between input and button */
  height: 40px; /* Match the height of the input */
  width: 15%; /* Button takes up 15% of the container width */
  display: inline-flex; /* Ensure the button doesn't stretch */
  align-items: center; /* Vertically center text inside button */
}

.custom-button:hover {
  background-color: #0404b7; /* Lighter green on hover */
}
